<!--Licensed Materials - Property of IBM
5725I71-CC011829
(C) Copyright IBM Corp. 2017, 2018. All Rights Reserved.
US Government Users Restricted Rights - Use, duplication or
disclosure restricted by GSA ADP Schedule Contract with IBM Corp.-->



<!doctype html>
<html lang="en">
<HEAD>
    <link rel=stylesheet type=text/css href="static/css/style.css">
</HEAD>
<body>
<div id="pageheader" class="pagebanner">
    IBM QRadar Application : Configuration Page Example
</div>

<div id="contentpane">
  My content pane
</div>

<div>
<img src="static/images/extensions_manager.png" width="50" height="50" alt="Example Image" title="Example Image" border="0">
</div>

</body>
</html>
