/**
Licensed Materials - Property of IBM
5725I71-CC011829
(C) Copyright IBM Corp. 2017, 2018. All Rights Reserved.
US Government Users Restricted Rights - Use, duplication or
disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */



body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
}

.pagebanner {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 8%;
    padding: 20px 20px;
    background-color: black;
    font-family: Arial;
    font-size: 11.5pt;
    font-weight: bold;
    color: white;
}
